form {
  width: 40%;
  margin: 2rem auto;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
button {
  background-color: black;
  color: white;
  outline: none;
  border: black;
  margin-bottom: 0.31rem;
  width: 100%;
  padding: 0.5rem;
}